<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.navigation">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HaoChi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Recipe">
            <intent-filter>
                <action android:name="android.intent.action.recipe" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Menu"
            android:launchMode = "singleInstance">
        </activity>
        <activity
            android:name=".Register"></activity>
        <activity
            android:name=".MyList"></activity>
        <activity
            android:name=".Favorite"></activity>
        <activity
            android:name=".SearchResult"></activity>

        <activity
            android:name=".My"
            ></activity>
        <activity android:name=".Search"></activity>
        <activity android:name=".BuildNewRecipe"></activity>
        <activity android:name=".Notification"></activity>
        <activity android:name=".MyRecipe"></activity>
        <service android:name=".FloatingTime"></service>



    </application>

</manifest>